apiVersion: v1 
kind: Service 
metadata:
  name: nifi-headless 
  namespace:  nifi 
spec: 
  clusterIP: None 
  selector:
    app: nifi 
  ports: 
  - port: 8080 
    targetPort: 8080
    name: http 
    