apiVersion: v1 
kind: Service 
metadata:
  name: nifi 
  namespace: nifi 
spec: 
  type: NodePort 
  selector: 
    app: nifi 
  ports: 
  - port: 8080
    targetPort: 8080
    nodePort: 30080 
    name: http 
    